{% extends "base.html" %}


{% block body %}
    <h1>Cat Details</h1>

    <h2>Cat Name: {{ cat.name }}</h2>
    <h2>Cat Age: {{ cat.age }}</h2>
    <h2>Cat Color: {{ cat.color }}</h2>

    <ul>
        {% for toy in toys %}
            <li>
                <p>{{ toy.name }}</p>
                <a href="{% url "toy-update" pk=cat.id toyId=toy.id %}"><button>Edit</button></a>

                <form action="{% url "toy-delete" pk=cat.id toyId=toy.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>

{% endblock body %}